<html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>
<body>
<div th:replace="~{base :: logo}"></div>
<div th:replace="~{base :: titulo('Mostre seu jogo favorito')}"></div>

<div class="card mt-3">
    <form th:object="${requisicao}"class="card-body" action ="/dados/novo" method="POST">
        <div class="form-group">
            <label for="nomeDoJogo">Nome do Jogo</label>
            <input th:field="*{nomeDoJogo}"th:errorclass="is-invalid" class="form-control"  placeholder="Informe o nome do seu jogo favorito"/>
            <div class="invalid-feedback"th:errors ="*{nomeDoJogo}"></div>
        </div>
        <div class="form-group mt-2">
            <label for="urlImagem">Url da Imagem</label>
            <input th:field="*{urlImagem}"th:errorclass="is-invalid"  class="form-control"  placeholder="Insira a url do seu jogo favorito"/>
            <div class="invalid-feedback"th:errors ="*{urlImagem}"></div>
        </div>
        <div class="form-group mt-2">
            <label for="preco">Preço</label>
            <input th:field="*{preco}" class="form-control" placeholder="Preço pago no jogo"/>

        </div>
        <div class="form-group mt-2">
            <label for="loja">Loja</label>
            <input th:field="*{loja}"th:errorclass="is-invalid" class="form-control" placeholder="Loja que você comprou"/>
            <div class="invalid-feedback"th:errors ="*{loja}"></div>
        </div>
        <div class="form-group mt-2">
            <label for="nota">Qual nota você dá para seu jogo</label>
            <input th:field="*{nota}" class="form-control"  placeholder="nota de 1-10"/>

        </div>
        <div class="form-group mt-2">
            <label for="descricao">Dê sua opinião sobre o jogo</label>
            <textarea th:field="*{descricao}"th:errorclass="is-invalid" class="form-control"  placeholder="Qual sua opinião do jogo"></textarea>
            <div class="invalid-feedback" th:errors ="*{descricao}"></div>
        </div>
        <div class="form-group mt-3">
            <button class="btn btn-primary" type="submit">Cadastrar</button>

        </div>
    </form>
</div>
</body>

</html>



